/* Fonts */
@font-face {
  font-family: 'Raajaa_Bold';
  src: url('../fonts/Raajaa_Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raajaa_Bold.woff') format('woff'), url('../fonts/Raajaa_Bold.ttf')  format('truetype'), url('../fonts/Raajaa_Bold.svg#Raajaa_Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond-Bold';
  src: url('../fonts/Garamond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Garamond-Bold.woff') format('woff'), url('../fonts/Garamond-Bold.ttf')  format('truetype'), url('../fonts/Garamond-Bold.svg#Garamond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond.eot?#iefix') format('embedded-opentype'),  url('../fonts/Garamond.woff') format('woff'), url('../fonts/Garamond.ttf')  format('truetype'), url('../fonts/Garamond.svg#Garamond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville-Normal';
  src: url('../fonts/Baskerville-Normal.eot?#iefix') format('embedded-opentype'),  url('../fonts/Baskerville-Normal.woff') format('woff'), url('../fonts/Baskerville-Normal.ttf')  format('truetype'), url('../fonts/Baskerville-Normal.svg#Baskerville-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
